.wc_pefa_bradcrumb {
    margin-bottom: 10px;
}
.wc_pefa_single_product_title {
    display: block;
    margin: 0;
}
.wc_pefa_product_price{
    position: relative;
    display: block;
    font-family: Rajdhani,sans-serif;
    font-weight: 700;
    letter-spacing: .025em;
    text-transform: uppercase;
    color: #000;
    font-size: 24px;
    line-height: 1.25em;
    line-height: 1;
    color: #000;
    margin: 9px 0 11px;
}
.wc_pefa_single_product_des {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 25px 0 0;
}
.wc_pefa_option_1_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
.wc_pefa_option_1_dropdown {
    cursor: pointer;
    position: relative;
    flex: 1;
}
.wc_pefa_option_1_dropdown_title {
    background: #999999;
    color: #fff;
    border-radius: 5px;
    padding: 5px 35px;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.wc_pefa_option_1_dropdown_list {
    padding: 0;
    list-style: none;
    position: absolute;
    width: 100%;
    background: #ffffff;
    z-index: 9999;
    margin: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #e3e3e3;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.wc_pefa_option_1_dropdown_title svg {
    transition: 0.3s;
}
.wc_pefa_option_1_dropdown.active .wc_pefa_option_1_dropdown_list {
    max-height: 120px;
    overflow: auto;
    opacity: 1;
    visibility: visible;
}
.wc_pefa_option_1_dropdown.active .wc_pefa_option_1_dropdown_title svg {
    transform: rotate(180deg);
}
.wc_pefa_option_1_dropdown_list li {
    border-bottom: 1px solid #e3e3e3;
}
.wc_pefa_option_1_dropdown_list li:last-child {
    border: none;
}
.wc_pefa_option_1_dropdown_list li label {
    display: block;
    cursor: pointer;
    padding: 10px 0;
}
.wc_pefa_option_1_dropdown_list li label input {
    opacity: 0;
    visibility: hidden;
}
.title_sm {
    font-size: 15px;
    font-weight: 500;
    line-height: 14px;
    display: block;
}
.option_des {
    margin-top: 50px;
}
.option_des_flex {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.title_2 {
    font-size: 25px;
    margin: 0;
}
.des_tutorial {
    display: flex;
    align-items: center;
    gap: 10px;
}
.des_tutorial a {
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
}
.des_tutorial img {
    width: 35px;
}
.description_1 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}
.option_wrapper {
    display: flex;
    align-items: center;
    background: #ed1d24;
    gap: 10px;
    cursor: pointer;
}
.option_wrapper input[type="checkbox"] {
    position: absolute;
    left: 100%;
    visibility: hidden;
    opacity: 0;
}
.title_3 {
    margin: 0;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    font-family: Rajdhani,sans-serif;
}
.check_box {
    width: 28px;
    height: 28px;
    background: #fff;
    margin-left: auto;
    margin-right: 8px;
}
.option_section_container {
    margin-bottom: 5px;
}
.option_section {
    margin-top: 10px;
}
.check_box svg {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.check_box svg {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.option_wrapper.active .check_box svg {
    opacity: 1;
    visibility: visible;
}
.title_4 {
    margin: 0;
    color: #000;
    font-weight: 500;
    font-size: 14px;
}
.option_inline {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
}
.option_inline .width_auto {
    flex: 1;
}
.option_wrapper_box {
    background-color: #EEE;
    padding: 0 10px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.option_wrapper_box.active,
.option_wrapper.active + .option_wrapper_box {
    padding: 10px;
    height: auto;
    overflow: inherit;
    opacity: 1;
    visibility: visible;
}
.wc_pefa_option_2_dropdown_title {
    padding: 5px 10px;
    justify-content: space-between;
    font-size: 13px;
    border: solid 1px #AAA;
    background: #fff;
    color: #000
}
.text_block_1 {
    margin: 0 !important;
    background: #fff !important;
    border: 1px solid #AAA !important;
    border-radius: 5px !important;
    min-height: 150px;
    padding: 10px !important;
    font-size: 14px !important;
}
.input_1 {
    margin: 0 !important;
    background: #fff !important;
    padding: 5px 10px !important;
    border: solid 1px #AAA !important;
    border-radius: 5px !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    min-width: 150px;
}
.option_inline_gap {
    margin-top: 0;
}
.option_inline_2 {
    align-items: start;
    gap: 30px;
}
.file_upload_table tr {
    border: none;
}
.file_upload_table td {
    text-align: left;
}
.condition_option_section {
    margin-top: 35px;
}
.option_wrapper_box_condition_inner {
    max-width: 320px;
}
.title_4_gap {
    margin-top: 15px;
}
.option_des_gap_low {
    margin-top: 10px;
}
.wc_pefa_total_price {
    display: inline-flex;
    border: 1px solid #e5e5e5;
    gap: 20px;
    align-items: center;
    border-top-left-radius: 5px;
    margin-top: 30px;
    border-top-right-radius: 5px;
}
.total_price_text {
    font-size: 19px;
    font-weight: 500;
    color: #000;
    border-right: 1px solid #e5e5e5;
    padding: 10px;
}
.total_price_num {
    padding-right: 10px;
    font-weight: 400;
}
.wc_pefa_bradcrumb .col, 
.wc_pefa_bradcrumb .col a {
    font-size: 10px;
    text-transform: uppercase;
    font-family: Ubuntu;
}
form.wc_pefa_cart {
    max-width: 450px;
}
.file_upload_row {
    display: grid;
    grid-template-columns: 10% 40% 40%;
    gap: 15px;
    margin-bottom: 10px;
    align-items: center;
}
.variation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-right: 50px;
}
.variation > * {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-right: 20px;
    margin-top: 20px;
}
.variation > * {
    border: 1px solid #e4e4e4;
    padding: 10px !important;
}
.cart_button {
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.single_add_to_cart_button {
    width: 100% !important;
    display: flex !important;
    justify-content: center;
}

@media (max-width: 767px) {
    .mkdf-quantity-buttons.quantity{
        margin-right: 20px !important;
    }
    .mkdf-container-inner {
        padding: 0 10px;
        width: 90%;
    }
    .single_add_to_cart_button {
        margin-top: 0 !important;
        padding: 12px 5px !important;
    }
    .mkdf-single-product-summary {
        margin-top: 10px;
    }
    .file_upload_row {
        grid-template-columns: 1fr;
        padding: 10px;
        align-items: center;
        border: 2px solid #ffffff;
        margin: 10px 0;
    }
    .wc_pefa_option_1_dropdown {
        width: 100%;
    }
    .wc_pefa_option_1_dropdown_title {
        justify-content: space-between;
    }
    .option_inline {
        flex-direction: column;
        align-items: start;
    }
    .option_inline > div {
        width: 100%;
    }
}

.entry-summary .cart,
.entry-summary .woocommerce-product-details__short-description,
.entry-summary .price,
.entry-summary .mkdf-single-product-title {
    display: none !important;
}